#container{
    width: 1200px;
    margin: 20px auto;
}

#header{
    width: 100%;
    height: 120px;

    background-color: #acacac;
}

#sidebar{
    width: 300px;
    height: 600px;
    background-color: #e9e9e9;
    float: left;
}
#rsidebar{
    width: 300px;
    height: 600px;
    background-color: #e9e9e9;
    float: right;
}

#section{
    width: 600px;
    height: 600px;
    background-color: #f7f7f7;
    float: left;
}

#footer{
    width: 100%;
    height: 100px;
    background-color: #888888;
    clear: left;
}