.product{
    display: flex;
    justify-content: space-around;
    margin: 100px 200px;

}

.product-img{
    width: 500px;
    height: 600px;
    border: 1px solid black;
}

.product-info{
    width: 500px;
    height: 600px;
    border: 1px solid black;
}

img{
    width: 500px;
    height: 600px;
}   

.form{
    display: flex;
    justify-content: center;
}

ul{
    list-style:none;
}

.info{
    font-size: 15px;
}

.products-info{
    width: 500px;
    height: 70px;
    color: black;

    margin-top: 5px;

    line-height: 30px;

    text-align: center;

}

.orders{
    display: flex;
    justify-content: center;
    
    width: auto;
    margin: 0px 100px;
    margin-top: 50px;
}

.orders-input{
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #dbdbdb;
    outline: none;

    padding: 10px;
    width: 93%;

    cursor: pointer;
}

.btns{
    margin-top: 10px;
}

.submit-btn{
    border: 1px solid #dbdbdb;
    padding: 10px;
    width: 48%;
    background-color: black;

    color: white;
    font-weight: 600;

    cursor: pointer;
}

.reset-btn{
    border: 1px solid black;
    padding: 10px;
    width: 48%;
    background-color: #dbdbdb;

    color: black;
    font-weight: 600;

    cursor: pointer;
}