@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#container{
    margin: 0 auto;
    width: 1200px;
    background-color: #fff;
}




header{
    width: 100%;
    height: 100px;
    background-color: #045;
}

/* 로고 */
#logo{
    float: left;
    width: 250px;
    height: 100px;
    line-height: 100px;
    padding-left: 20px;
}

#logo h1{
    font-family: 'Merienda', cursive;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 -1px 0 #222;
}

/* 내비게이션 */
nav{
    float: right;
    width: 900px;
    height: 100px;
    padding-top: 40px;
}

#topMenu{
    height: 60px;
}

#topMenu > li{
    float: left;
    position: relative;
}

#topMenu > li > a {
    display: block;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
    padding: 20px 60px;
}

#topMenu > li > a:hover {
    color: #1fa8f8;
    text-shadow: 0 -2px #222;
}

/* 본문 */

.contents{
    width: 1000px;
    margin: 50px auto;
}

main > section {
    margin-top: 60px;
}

main h2{
    font-size: 1.5em;
    line-height: 2.5;
}

main div{
    margin-top: 20px;
}

main h3{
    font-size: 1.2em;
    line-height: 2.2;
}

.detail > img {
    float: left;
    margin-right: 50px;
    border-radius: 20px;
}

.schedule h4{
    font-size: 1.2em;
}

.schedule ul{
    list-style: none;
}

.schedule ul li{
    line-height: 2;
}


/******************/
/*   푸터 영역    */
/******************/

footer{
    width: 1200px;
    height: 100px;
    border-top: 2px solid #222;
}

#bottomMenu{
    width: 100%;
    height: 20px;
    margin-left: 60px;
}

#bottomMenu ul{
    margin-top: 15px;
}

#bottomMenu ul li{
    float: left;
    padding: 5px 20px;
    border-right: 1px solid #ddd;
}

#bottomMenu ul li:last-child{
    border: none;
}

#bottomMenu ul li a, #bottomMenu ul li a:visited{
    font-size: 15px;
    color: #666;
}