*{
    text-decoration-line: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    margin: 0;
}

#header{
    width: 100%;
    height: 200px;

    background-color: #acacac;
}

.account-btn{
    text-align: center;

    border: 1px solid #dbdbdb;
    padding: 10px;
    width: 70px;
    background-color: black;

    color: white;
    font-weight: 500;

    cursor: pointer;

    margin-left: 25px;
}

.logo{
    display: flex;
    justify-content: center;
}

.account{
    display: flex;
    justify-content: end;
}

.account > input{
    margin-top: 5px;
    margin-right: 15px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: auto;
    margin-top: 40px;
    
    width: 1500px;
}

.menu > a {
    width: 200px;
    height: 30px;

    font-size: 20px;

    text-align: center;
}

.menu > a:hover {
    background-color: black;
    color: white;
}

.search-input {
    padding: auto;

    outline: none;
    border: 1px solid #dbdbdb;

    height: 22px;
}

.input-submit{
    width: 50px;
    height: 26px;

    background-color: black;
    border: 1px solid black;
    color: white;
}

.inputs{
    outline: none;
    border: 1px solid #dbdbdb;
}

.inputs:focus{
    box-shadow: 0px 0px 10px 1px #dbdbdb;
}

.account-btn{
    background-color: white;

    color: black;

    cursor: pointer;
}

.login-inputs{
    margin-right: 30px;
    border: 1px solid #dbdbdb;
    outline: none;

    padding: 10px;
    width: 150px;
    height: 12px;

    cursor: pointer;
}

.login-inputs:focus{
    box-shadow: 0px 0px 5px 1px #dbdbdb;
}

.login-button{
    border: black;
    padding: 10px;
    width: 150px;
    background-color: black;

    color: white;
    font-weight: 500;

    cursor: pointer;
}

.login-button:active{
    background-color: #303030;
    box-shadow: 0px 0px 5px 1px #dbdbdb;
}